body{
    background-color: rgb(0, 0, 0);
    margin: 0px;
}

#header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    margin-top: 0px;

}

#header p {
    max-width: 850px;
    text-align: center;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(235, 155, 81);
    border-color: rgb(86, 166, 168);
    border-color: black;
    background-color: rgb(202, 117, 117);

    color: rgb(0, 0, 0);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border-style:double;
    border-width: 10px;
    
}

#Logo{
    position: absolute;
    left: 10px;
    width: 80px;
    border: solid;
    z-index: 2;
}

#Above{
    grid-row: 5/6;
    width: 100vw;
    border: solid;
    border: 0px;;
    z-index: 0;
}

#Below{
    grid-row: 1/2;
    width: 80px;
    border: solid;
    z-index: 2;
}

h1, h2{
    text-align: center;
    z-index: 1;
}

h1{
    background-color: rgb(202, 117, 117);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
} 

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(202, 117, 117);
    position: sticky;
    top: 0px;
    padding: 10px;
    border-bottom: solid;
    border-width: 2px;
}

.VertFlex{ 
    align-self: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: static;
    text-align: center;
}

main .VertFlex{
    margin-left: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 20px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14pt;
}

.mainB {
    border-style: none;
    margin: 0px;
    
}

.drop{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 0px;
    position: relative;
    text-align: left;
    align-self: center;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    align-content: start;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    
}
.Des{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;

}

.FA{
    position: relative;
    top: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 2;
    align-self: flex-start;

}

.Rep{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 2;
}

.details{
    display: block;
    flex-direction: column;
}

.buttons p:hover{
    background-color: rgb(202, 117, 117);
    color: black;
}
.info{
    display: none;
    visibility: hidden;
}

div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0;
    margin-top: 10px;
    background-color: rgb(86, 166, 168);
    justify-content: space-between;
}

div p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.Name {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 10px;
}

.date{
    font-weight: bold;
    margin: 0px;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(202, 117, 117);
    border: solid;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    right: 0px;
    max-width: 220px;
    /* How do I get these puttons to stic to the right of container */
}

.buttons p {
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    
}

@media screen and (max-width: 660px)
{
    h1 {
        display: flex;
        flex-direction: column;
    }
    
    #Logo{
        position: relative;
        align-self: center;
    }

    .drop{
        margin: 10px;
    }

}

@media screen and (max-width: 560px)
{
    .mainB {
        flex-direction: column;
        align-items: center;
    }

    .date {
        margin-left: 0px;
    }

    .container {
        border-width: 10px;
    }
}

@media screen and (max-width: 828px)
{
    .date{
        margin: 5px;
    }
}

@media screen and (min-width: 800px)
{
    #header p{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 900px)
{
    .container{
     max-width: 900px;
     margin-left: auto;
     margin-right: auto;
    }


}