body {
    background-color: rgb(251, 245, 223);
    margin: 0px;
}
main{
    margin: 40px;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    /*position: sticky;*/
    top: 0px;
    overflow: hidden;
    background-color: rgb(251, 245, 223);
    z-index: 1;
}
.LetterHead{
    width: 10vw;
    padding: 15px;
   
}

.navbar ul{
    list-style-type: none;
    padding-right: 40px;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

   
}  
.navbar li{
    float: right;
    justify-content: center;
    align-items: center;
}

.navbar a{
    color: rgb(85, 83, 83);
    font-size: 22px;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}
.navbar a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: rgb(85, 83, 83);
}

/* ^ navbar */

.intro {
    display: flex;
    flex-direction: row;
}

.intro h2{
    font-size: 50px;
}

.intro p{
    font-size: 20px;
}

.intro #discription {
    padding-left: 20px;

}
#headshot {
    width: 20vw;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 15%);
  
}

/* Projects page */
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-size: 70px;
    padding-top: 20vh;
    padding-bottom: 50vh;
    text-align: center;

}

/*
.leftC{
    display: flex;
    flex-direction: column;
}

.rightC{
    display: flex;
    flex-direction: column;
}
*/


#lampThumbnail{
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
    object-position: 0% 0%; 
    
    
}

#p1 {
    text-align: center;
    color: white;
    position: relative;

}


#p1 a{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    transition: transform 2s;
    position: absolute;
    top: 10px;
    left: 25px;
}
#p1 a:hover{
    color: rgb(255, 28, 28);
    text-decoration: underline;
    transform: scale(1.1)
}
.pObject{
    display: flex;
    flex-direction: row;
}

#p2 {
    text-align: center;
    color: white;
    position: relative;

}


#p2 a{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    transition: transform 2s;
    position: absolute;
    top: 10px;
    left: 25px;
}
#p2 a:hover{
    color: rgb(255, 28, 28);
    text-decoration: underline;
    transform: scale(1.1)
}

.Ptit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.Ptit div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Ptit p{
    font-size: 32px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}



.Ptit h1{
    font-size: 32px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.Ptit #twoLamps img{
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
    object-position: 0% 0%; 
}
